<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Admin panel</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="center-container">
    <h1>Admin  access needed</h1>
    <form action="/logout" method="get">
      <button type="submit" class="logout-button">Logout</button>
    </form>
  </div>
</body>
</html>
