<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Lista użytkowników</title>
</head>
<body>
  <h1>Użytkownicy</h1>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <strong><%= user.username %></strong>
        <ul>
          <% user.realmRoles.forEach(role => { %>
            <li><%= role %></li>
          <% }) %>
        </ul>
      </li>
    <% }) %>
  </ul>

  <h1>Pokoje</h1>
  <ul>
    <% rooms.forEach(room => { %>
      <li>
        <strong><%= room.name %></strong>
        <ul>
          <% room.roles.forEach(role => { %>
            <li><%= role %></li>
          <% }) %>
        </ul>
      </li>
    <% }) %>
  </ul>

  <form action="/logout" method="get">
    <button type="submit">Wyloguj się</button>
  </form>
</body>
</html>
